.jumbotron {
  background-image: url(http://33.media.tumblr.com/377f26c88156cb12d8f0d5c050e70391/tumblr_nazl9xNuuo1r83cqho1_r2_500.gif);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  color: white;
}
img {
  float: left;
  margin-right: 20px;
  background-color: white;
}

a {
  color: gold;
}
em {
  font-style: italic;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

#questions {
  color: white;
  background-color: #687589;
  border-left: 10px solid #687589;
  border-right: 10px solid #687589;
}

#ruby, #react, #java {
  color: white;
  background-color: #687589;
  border-left: 10px solid #687589;
  border-right: 10px solid #687589;
  display: none;
}
